<%= render "shared/navbar" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i5.walmartimages.com/asr/567e5341-8779-48fa-9b31-6e8d585e23c0.30dc5d966dae9c6df0bcc02864275f29.jpeg);">
  <div class="container">
    <h1>My Socks</h1>
    <div class="btn btn-outline-secondary"><%= link_to "Proposez une Chaussette", new_sock_path %></div>
  </div>
</div>

<div class="card-map">
</div>

<div class="container">
  <% @my_socks.each do |sock| %>
    <div class="cards">
      <div class="card-socks" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.squarespace-cdn.com/content/v1/64669fa1b4732456814c6070/1684982300529-2MXJAU9KNREZYI6HHMYR/Boot+Socks+detail.jpeg?format=1500w)">
        <div class="card-socks-infos">
          <div class="row mb-3"><h2><%= sock.title %></h2></div>
            <div class="row mb-3"><p><%= sock.description %></p></div>
          <div class="row mb-3"><h2 class="card-pricing"><%= sock.price %> €</h2></div>
          <div class="row mb-3"><p><%= link_to "Voir plus d'infos", sock %></p></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
