<%= render "shared/navbar" %>
<div class="container">
  <div class="card shadow p-3 mb-3 bg-white rounded">
  <%= cl_image_tag @sock.photo.key, class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= @sock.title %></h5>
      <p class="card-text"><%= @sock.description  %></p>
      <hr>
      <p class="card-text">Propriétaire : <%= @sock.user.first_name  %> <%= @sock.user.last_name  %></p>
      <hr>
      <p class="card-text"><small class="text-muted">Taille: <%= @sock.size  %> | État: <%= @sock.state  %> | Couleur: <%= @sock.color %></small></p>
    </div>
  </div>
  <br>
  <% if @sock.user == current_user %>
    <%= link_to "Modifier", edit_sock_path, class: "btn btn-ghost"%>
    <%= link_to "Supprimer",
      socks_drawer_path, class: "btn btn-ghost cancel",
      data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"}%>
    <% else %>
      <%= link_to 'Louer cette chaussette', new_sock_request_path(@sock), class: 'btn btn-ghost rent' %>
    <% end %>
</div>
