<div class="fixed-bottom padding-top">
  <div class="navbar fixed-bottom navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo_3.svg" %>
      <% end %>

        <div class="navbar-expand" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <div class="nav-item active nav-link">
              <p><%= link_to socks_path do %></p>
                <i class="fa-solid fa-house"></i>
                <% end %></div>
                  <div class="nav-item nav-link">
                <p><%= link_to socks_drawer_path do %><p>
                  <i class="fa-solid fa-socks"></i>
                <% end %></div>
                  <div class="nav-item nav-link">
                <%= link_to new_sock_path do %>
                  <i class="fa-solid fa-plus"></i>
                <% end %></div>
                  <div class="nav-item nav-link">
                <%= link_to requests_path do %>
                  <i class="fa-regular fa-calendar-days"></i>
                <% end %></div>

            <div class="dropup">
              <li class="nav-item dropdown">
                <%= image_tag "icons/user-solid.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <% if user_signed_in? %>
                      Welcome <%= current_user.first_name %>
                        <%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %>
                          <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                      </div>
                    <% else %>
                  <li class="nav-item"><button class="btn btn-outline-secondary"><%= link_to "Login", new_user_session_path, class: "nav-link" %></button></li>
                <% end %>
               </li>
              </div>
              </ul>
        </div>
      </div>
    </div>
  </div>
</div>
