<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_3.svg" %>
    <% end %>
  <% if user_signed_in? %>
    Welcome <%= current_user.email %>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <button class="btn btn-outline-secondary"><%= link_to "Login", new_user_session_path %></button>
  <% end %>
<button class="btn btn-outline-secondary"><%= link_to "My Drawer", socks_drawer_path %></button>

  </div>
</div>
