<div class="fixed-bottom padding-top">
  <div class="navbar fixed-bottom navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo_3.svg" %>
      <% end %>

        <div class="navbar-expand" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <div class="nav-item active nav-link">
              <%= link_to socks_path do %>
                <i class="fa-solid fa-house" color="$first-blue"></i>
              <% end %></div>
                <div class="nav-item nav-link">
                <%= link_to socks_drawer_path do %>
                  <i class="fa-solid fa-socks"></i>
                <% end %></div>
                  <div class="nav-item nav-link">
                <%= link_to new_sock_path do %>
                  <i class="fa-solid fa-plus"></i>
                <% end %></div>
                  <div class="nav-item nav-link">
                <%= link_to requests_path do %>
                  <i class="fa-regular fa-calendar-days"></i>
                <% end %></div>
                <div class="nav-item">
                <%= link_to socks_path do %>
                <i class="fa-solid fa-user"></i>
                <% end %></div>
              </div>
              </ul>
            </div>
          </div>
        </div>
