<% requests.each do |request| %>
  <%= link_to request_path(request) do%>
    <div class="card-request">
      <% sock = request.sock %>
        <%= cl_image_tag sock.photo.key, class:"card-img-top" %>
      <div class="card-request-infos">
        <p>Status :<%= request.status %></p>
        <h2><%= sock.title %></h2>
        <p> Taille : <%= sock.size %></p>
        <p> Couleur : <%= sock.color %></p>
        <p> Etat : <%= sock.state %></p>
        <p> Date de début : <%= request.start_date %></p>
        <p> Date de fin : <%= request.end_date %></p>
        <div class="card-request-actions">
          <%= link_to "Modifier", edit_request_path(request), class: "btn btn-ghost" %>
          <%= link_to "Annuler", requests_path, data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"}, class: "btn btn-ghost cancel" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
