<div class="card-product">
  <%= image_tag("dobby.webp", width: "100px") %>
  <div class="card-product-infos">
    <h2><%= @sock.title %></h2>
    <p> Taille : <%= @sock.size %></p>
    <p> Couleur : <%= @sock.color %></p>
    <p> Etat : <%= @sock.state %></p>
  </div>
</div>
