
<div class="container">

  <%= link_to requests_path do %>
    <i class="fa-solid fa-arrow-left"></i>
    <%= %>
  <% end %>

  <div class="card-text mb-3">
  <h2>Demande de réservation</h2>
    <div class="card-text-infos">
    <%= render "card_résumé" %>
    <hr>

      <p>Demande de : <%= @request.user.first_name %> <%= @request.user.last_name %></p>
      <p><%= @request.user_msg %></p>
      <hr>
      <h2>Détails du prix</h2>
      <% @number_of_days = (@request.end_date - @request.start_date).to_i%>
      <% @laundry_fee = 0.5%>
      <% @company_fee = 0.5%>
      <% @rental_price = @sock.price * @number_of_days%>
      <p><%= @sock.price %>€ x <%= @number_of_days%> jours_______________<%= @rental_price %>€</p>
      <p>Frais de lessive_______________<%= @laundry_fee %>€</p>
      <p>Frais de service_______________<%= @company_fee %>€</p>
      <hr>
      <p><strong>Total</strong>_______________<strong><%= @rental_price + @laundry_fee + @company_fee %>€</strong></p>
    </div>
  </div>

  <% if (@request.sock.user == current_user && @request.status == 'pending') %>
    <div class="owner-actions">
      <%= link_to 'Accepter', accept_request_path(@request), class: "btn btn-success", data: { turbo_method: :patch } %>
      <%= link_to 'Refuser', reject_request_path(@request), class: "btn btn-danger", data: { turbo_method: :patch } %>
    </div>
    <% else %>
    <p>Status : <%= @request.status %>.</p>
  <% end %>

  <% if @request.sock.user == current_user %>
  <%= link_to "Supprimer cette requête",
    request_path(@request), class: "btn btn-ghost cancel",
    data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"}%>
  <% end %>
  <%= link_to "Modifier cette requête", edit_request_path, class: "btn btn-ghost"%>
</div>
