<div class="container">
<h2>Demande de réservation</h2>
<div class="container p-3">
  <div class="card-trip">
    <%= image_tag "dobby.webp"  %>
    <div class="card-trip-infos">
      <div>
        <h2> <%= @sock.title %></h2>
        <p> <%= @sock.description  %></p>
        <p> <%= @sock.color  %></p>
        <p> <%= @sock.state  %></p>
      </div>
      <h2>  <%= @sock.price  %>€/jour</h2>
      <%= image_tag "user-solid.svg", class: "card-trip-user avatar-bordered" %>
    </div>
  </div>
</div>
